mat-toolbar {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #4F4F4F;
  background-color: #E5E5E5;
}
.login-name {
  width: 102px;
  text-align: right;
}
.login-img {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

