mat-card {
  width: 350px;
  height: 250px;
  background-color: #F2F2F2;
  margin: 120px auto 0;
}

.auth-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__login {
    h2 {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
    }
  }
  &__inputs {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
      background: #E0E0E0;
      width: 343px;
      height: 37px;
      border: 1px solid #F2F2F2;
    }
    .input-text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #828282;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
  }
}

