<mat-card>
  <div class="auth-container">
    <div class="auth-container__login">
    <h2>Login</h2>
    </div>
    <div class="auth-container__inputs">
      <p class="input-login input-text">login</p>
      <input matInput>
      <p class="input-password input-text">password</p>
      <input matInput>
    </div>
  </div>
  <div class="auth-container__buttons">
    <button mat-button color="primary">
    Registration
    </button>
    <button mat-raised-button color="primary" routerLink="/main">Login</button>
  </div>
  </mat-card>
